---
import "../style/style.css";

const {data} = Astro.props;

---

<a href={`/udvalg/${data.slog}`}>
    <article class="polaroid">
<div class="pcard_box">
        <img src={data.billede} alt="billede"/>
</div>
        <div class="product">
          <p class="bold">{data.produktnavn}</p>
          <p>{data.pris}</p>
        </div>
    </article>
  </a>

  <style>
.polaroid {
    display: inline-block;
    border: 1px solid black;
    padding: 40px;
    width: fit-content;
    text-align: center;
    background-color: var(--sand);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .pcard_box{
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .bold {
    font-weight: bold;
  }

  .product{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  </style>
  
